doctype html
  html
    head

    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    link(rel="stylesheet", href="/public/css/amelia.bootstrap.css")
    link(rel='stylesheet', href = "/public/stylesheets/style.cs" )
   
  body
    block content

  script(src="/public/javascripts/jquery-3.3.1.min.js")
script(src="/public/js/bootstrap.min.js ")


